
<md-content layout="column" flex>
  <md-card>
    <md-data-table-toolbar>
      <h2 class="md-title">Singles Rankings</h2>
      <span flex></span>
      <md-input-container class="md-accent">
        <label>Search</label>
        <input ng-model="search">
      </md-input-container>
      <md-button class="md-fab md-mini" aria-label="Search results">
            <ng-md-icon icon="search" size="24px"></ng-md-icon>
      </md-button>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-data-table class="md-primary" md-progress="vm.deferred">
        <thead md-order="vm.query.order" md-trigger="vm.onorderchange">
          <tr>
            <th numeric order-by="rank" name="Rank" unit=""></th>
            <th order-by="userName" name="Username"></th>
            <th numeric order-by="winNum" name="Wins"></th>
            <th numeric order-by="lossNum" name="Losses"></th>
            <th numeric order-by="winPercent" name="Win Percent"></th>
            <th numeric order-by="eloRating" name="Rating"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="vm.userStatsPage(row.uid)" ng-repeat="row in vm.displayedCollection | filter:search | orderBy: vm.query.order | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit">
            <td>{{ row.rank }}</td>
            <td>{{ row.userName }}</td>
            <td>{{ row.winNum }}</td>
            <td>{{ row.lossNum }}</td>
            <td>{{ row.winPercent | percent:2 }}</td>
            <td>{{ row.eloRating | number:0 }}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{ vm.displayedCollection.length }}" md-trigger="vm.onpagechange"></md-data-table-pagination>
  </md-card>
</md-content>