<md-content laout="column" flex>
  <md-card>
    <md-data-table-toolbar>
      <h2 class="md-title">Doubles Rankings</h2>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-data-table class="md-primary" md-progress="deferred">
        <thead md-order="query.order" md-trigger="onorderchange">
          <tr>
            <th flex numeric order-by="$index" name="Rank" unit=""></th>
            <th flex order-by="teamUid" name="Team"></th>
            <th flex numeric order-by="winNum" name="Wins"></th>
            <th flex numeric order-by="lossNum" name="Losses"></th>
            <th flex numeric order-by="winPercent" name="Win Percentage"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in displayedCollection | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
            <td flex>{{ $index + 1 }}</td>
            <td flex>{{ row.teamUid | teamMembers }}</td>
            <td flex>{{ row.winNum }}</td>
            <td flex>{{ row.lossNum }}</td>
            <td flex>{{ row.winPercent | percent:2 }}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{displayedCollection.length}}" md-trigger="onpagechange"></md-data-table-pagination>
  </md-card>
</md-content>
