<link rel="stylesheet" type="text/css" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">

<div layout layout-padding layout-sm="column">
  
  <h1>{{ title }}</h1>
  <md-button class="md-fab" aria-label="Add Match" ng-click="toggleAddMatch()">
    <ng-md-icon icon="add" size="24px"></ng-md-icon>
    <md-tooltip>
      Add a Match
    </md-tooltip>
  </md-button>
  <span flex></span>

</div>

<md-content layout-padding layout-align="center center" ng-show="displayAddMatch">
  <form name="userForm" ng-submit="addMatch()">
    
    <div layout layout-sm="column">
      <md-input-container>
        <label>{{ user.username }} &amp; </label>
      </md-input-container>
      <md-input-container flex>
        <label>Teammate</label>
        <md-select ng-model="newMatch.t1player2">
          <md-option ng-repeat="person in users" value="{{ person.uid }}">
            {{ person.userName }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Team 2</label>
        <md-select ng-model="newMatch.t2player1">
          <md-option ng-repeat="person in users" value="{{ person.uid }}">
            {{ person.userName }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Team 2</label>
        <md-select ng-model="newMatch.t2player2">
          <md-option ng-repeat="person in users" value="{{ person.uid }}">
            {{ person.userName }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Team 1 Score</label>
        <input ng-model="newMatch.t1score" type="number" step="1">
      </md-input-container>
      <md-input-container flex>
        <label>Team 2 Score</label>
        <input ng-model="newMatch.t2score" type="number" step="1">
      </md-input-container>
      <md-button class="md-raised md-accent">Sumbit</md-button>
    </div>
    
  </form>
</md-content>


<div ng-include="'partials/doublesTable.html'"></div>
