<div layout="row" layout-padding layout-wrap layout-fill ng-cloak layout-align="center center">
  <md-whiteframe class="md-whiteframe-1dp"  layout-padding layout-margin flex-gt-sm="90" flex-gt-md="80" layout layout-align="center center" layout-wrap>
    <h1 class="md-display-1">Welcome to nashDevPong</h1>
    <h3>In order to record match results or see the rankings, you will need to login in with github by clicking the top right corner. Global is the default league.  You can change to league or create a new one using the links at the bottom of the sidebar menu.</h3>
  </md-whiteframe>
</div>